# Dépendances
node_modules/

# Build
dist/

# Variables d'environnement
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Éditeurs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
